
/* css for game */
.welcome-bar
{
    width:45%;
    height: 65rem;
    margin: auto auto;
    background-color: rgb(215, 236, 255);
    border-radius: 3px;
    box-shadow: 1px 1px 1px 5px rgba(0, 179, 255, 0.2), -1px -1px 1px 5px rgba(0, 179, 255, 0.2);
    text-align: center;
    /* display: flex;
    flex-direction: column; */
  
}

.game__heading
{
    /* margin:1.6rem 0; */
    padding: 3.2rem 2rem 0;
    font-size:5.2rem;
}

/* css for grid */
.game__grid
{
    margin-top:5.2rem;
    display:grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}

.cell
{
    cursor: pointer;
    text-align: center;
    width: 9.8rem;
    height: 9.8rem;
    line-height: 9.8rem;
    border:2px solid black;
    box-shadow: 0 0 0 2px black;
    font-size: 6.6rem;
}
.cell.styleHover:hover
{
    background-color: hsl(218, 100%, 100%); ;
}


/* footer game */
.status-container
{
    display: block;
    margin-top:3.2rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.game__status
{
    font-size:3.2rem;

}

.restartBtn
{
    margin:3.2rem auto;
    font-size: 1.4rem;
    color:rgb(58, 41, 0);
    font-weight: 600;
    padding:1.2rem 2.6rem;
    border-radius: 30px;
    outline: none;
    border:1px solid blacks;
    background-color: hsl(160, 100%, 68%);
    transition: linear 0.1s;
}

.restartBtn:hover
{
    background-color: hsl(160, 100%, 78%);
    /* border: 1px solid hsl(160, 100%, 50%); */
    cursor: pointer;
    padding:1.3rem 2.7rem;
}

@media (max-width: 739px)
{
    body{
        font-size:40%;
        /* color:red; */
    };

    .game__heading
    {
        padding-top: 1.6rem;
        font-size:3rem;
        /* color:red; */
    }

    .welcome-bar
    {
        /* margin:auto;  */
        /* margin:0; */
        width: 94%;
        height: 68rem;
    }
}

@media (max-width: 1023px) and (min-width: 740px)
{
    body{
        font-size:60%;
        /* color:red; */
    }

    .welcome-bar
    {
        margin: auto;
        width: 62%;
        height: 66rem;
    }
}

